/******************
Common Styles
******************/

* {
    margin: 0;
    padding: 0;
}

/* body {
    margin: 0;
}

p {
    margin: 0;
} */

.mb-25 {
    margin-bottom: 25px;
}

.highlight {
    background-color: yellow;
    font-weight: normal;
}

.container {
    padding: 0 15px;
    /* padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;; */
}

/* .text-small {
    font-size: 14px;
} */

/******************
Header Styles
******************/

header {
    background-color: #9cd6f4;
    padding-top: 40px;
    padding-bottom: 40px;
}

header img.logo {
    height: 45px;
}

/******************
Main Styles
******************/

main {
    padding-top: 50px;
    padding-bottom: 45px;
}

.author-date {
    color: gray;
}

.author-date .author {
    color: #4ea0ff;
}

.author-date .date {
    font-size: 14px;
}

.article-image figcaption {
    font-size: 14px;
}
